.container {
  width: 100%;
  color: #050541;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  .title {
    font-size: 20px;
  }
  .date {
    color: firebrick;
  }
}